[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
   ; reset speed and extrude factor
   M220 S100
   M221 S100
   ; retract to avoid oozing, but only if that is safe to do here
   {% set max_z = printer.toolhead.axis_maximum.z|float %}
   {% set cur_z = printer.toolhead.position.z|float %}
   {% set z_hop = [3.0, max_z - cur_z]|min %}
   {% if printer.toolhead.homed_axes == "xyz" and printer.extruder.temperature >= 180 %}
     G91
     G1 E-2 F2100
     G1 Z{z_hop} E-1 F600
     G90
   {% endif %}
   BASE_CANCEL_PRINT

   ; disable skew compensation and bed mesh
   SET_SKEW CLEAR=1
   BED_MESH_CLEAR
   ; do not let this print's state leak into the next one
   SET_GCODE_OFFSET Z=0 MOVE=0
   M107
