[gcode_macro START_PRINT]
description: Initialize print with Slicer settings
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_STANDBY_TEMP = params.EXTRUDER_STANDBY_TEMP|default(150)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}

    # clear old states
    CLEAR_PAUSE
    # Start bed heating
    M140 S{BED_TEMP}
    # Start extruder heating (standby temperature)
    M104 S{EXTRUDER_STANDBY_TEMP}

    # Home the printer
    _START_PRINT_ECHO MSG="Homing"
    G32                            ; home all axes
    G90                            ; absolute positioning

    G1 Z20 F3000                   ; move nozzle away from bed

    # Wait for bed to reach temperature
    _START_PRINT_ECHO MSG="Heating bed"
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP} MAXIMUM={BED_TEMP + 2}

    # TODO adaptive bed mesh with max temp of 150
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ADAPTIVE=1

    # load skew profile
    SKEW_PROFILE LOAD=calilantern_skew_profile
    # Heating nozzle
    _START_PRINT_ECHO MSG="Heating nozzle"
    # G1 X299 Y3 Z50 F3600
    M109 S{EXTRUDER_TEMP}
    _START_PRINT_ECHO MSG="Purge"
    G90                            ; absolute positioning
    LINE_PURGE
    _START_PRINT_ECHO MSG="Printing"

[gcode_macro _START_PRINT_ECHO]
gcode:
    {% set msg = params.MSG %}
    {action_respond_info(msg)}
